.grade-letter {
  font-size: 24px;
}
.subject-name {
  width: 100%;
  font-size: 24px;
  color: #300151;
  border: 1px solid #300151;
  border-radius: 1px;
  padding: 5px 9px
}
.letter-degree {
  font-size: 24px;
  font-weight: bold;
}
